body {
    margin: 0px;
    /*min-width:960px;*/
    min-width:1216px;
    font-family: Malgun Gothic, "맑은 고딕",dotum,'돋움', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:visited, a:active, a:hover {
    text-decoration: none;
    color: #646464;
}
.gnb a, .gnb a:visited {
    text-decoration: none;
    color: #ffffff;
}

.gnb {
    background-image: url("../img/common/gnb-background.jpg");
    width: 100%;
    position: relative;
}

.gnb li {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #FFFEFC;
}

.gnb .gnb-inner {
    margin: 0 auto;
    max-width: 1210px;
    height: 99px;
}

.gnb .gnb-logo {
    float: left;
    height: 99px;
}

.gnb .gnb-logo img {
    width: 108px;
    height: 61px;
    padding-top: 15px;
}

.gnb .gnb-menu {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    max-width: 700px;
    height: 99px;
    padding: 0px 0px 0px 190px;
    font-size: 17px;
}

.gnb .gnb-menu ul {
    padding-top: 14px;
    display: inline-flex;
}

.gnb .gnb-menu li {
    display: grid;
    padding-left: 10px;
    align-items: center;
}

/*.gnb .gnb-menu li:after {*/
    /*padding-left: 10px;*/
    /*content: "\00B7";*/
    /*width:3px;*/
/*}*/

/*.gnb .gnb-menu li:last-child:after {*/
    /*content: "";*/
    /*width:3px;*/
/*}*/

.gnb .gnb-login {
    float: right;
    font-size: 16px;
    font-weight: normal;
    height: 99px;
}

.gnb .gnb-login ul {
    display: table;
    float: left;
    padding-top: 12px;
}

.gnb .gnb-login .middle-bar {
    font-size: 12px;
    padding-left: 11px;
    padding-right: 11px;
}

.gnb .gnb-login .btn-munch {
    z-index: 99;
    border-radius: 50px;
    background-color: #533190;
    padding: 15px;
    cursor: pointer;
}

#dimmed {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 95;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

.container {
    margin: auto;
    height: 4531px;
    text-align: center;
    width: 100%;
}

.container .title:first-child {

    font-weight: bold;
    font-size: 31px;
}

.container hr:first-child, .container hr.title-line {
    width: 20px;
    height: 0px;
    border-top: 1px solid black;
}

.box,.box-selected {
    width: 283px;
    height: 256px;
    margin: 3px;
    display: inline-block;
    border-radius: 11px;
    padding-top: 2px;
    overflow: hidden;
}

.box {
    height: 255px;
    width: 284px;
    border: 2px solid black;
    cursor: pointer;
}
.box-img{
    height: 203px;
    width: 283px;
}
.box-selected {
    border: 2px solid #EA4241;
}
.box .box-name {
    color: #ffffff;
    height: 52px;
    vertical-align: middle;
    align-items: center;
    display: grid;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    background-color: #333333;
    border: 2px solid #333333;
    width: 100%;
}
.box-selected .box-name {
    color: #ffffff;
    height: 53px;
    vertical-align: middle;
    align-items: center;
    display: grid;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    background-color: #EA4241;
    border: 2px solid #EA4241;
}
.box, .box-selected img {
    border-radius: 11px;
}
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-text{
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CBCBCB;
    background-color: white;
    height: 43px;
    padding: 0 10px;
    margin-bottom: 4px;
}

.select{
    border-radius: 3px;
    height: 43px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    color: #444;
    vertical-align: middle;
    width: 110px;
}

.btn-purple-square{
    background-color: #43277B;
    color: #ffffff;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    width: 100px;
    height: 36px;
    border: none;
}
/* 공통 - 게시판 */
.sub_main .title_board{padding:30px 0;font-size:24px;}
.sub_main .reply table{width:100%;margin-bottom:30px;border-top:2px solid #000}
.sub_main .reply table tr th{color:#302541}
.sub_main .reply table tr th,.sub_main .reply table tr td{padding:20px 0;text-align:center;border-bottom:1px solid #e9eaed}
.sub_main .reply table tr td{background:#fff;color:#666}
.sub_main .reply table tr td.tit{color:#000;text-align:left}
.sub_main .reply table tr td.tit > a{padding-right:10px;}
.sub_main .reply table tr.best td{background:#fafafa}
.sub_main .reply table tr.best td:first-child{color:#58b0b4;font-weight:bold}
.sub_main .reply table tr td i{display:inline-block;width:36px;height:13px;padding-left:5px}
.sub_main .reply table tr td i.best{background:url('/img/common/icon/ico_board_best.gif') 0 0 no-repeat}
.sub_main .reply table tr td i.new{background:url('/img/common/icon/ico_board_new.gif') 0 0 no-repeat}
.sub_main .reply table tr td i.file{width:12px;height:14px;padding-right:10px;background:url('/img/common/icon/ico_board_file.png') 0 0 no-repeat}
.sub_main .reply table tr td i.sns{display:inline-block;width:20px;height:20px;padding-left:0}
.sub_main .reply table tr td i.sns.pr{background:url('/img/common/icon/ico_board_sns_pr.png') 0 0 no-repeat}
.sub_main .reply table tr td i.sns.fb{background:url('/img/common/icon/ico_board_sns_fb.png') 0 0 no-repeat}
.sub_main .reply table tr td i.sns.yt{background:url('/img/common/icon/ico_board_sns_yt.png') 0 0 no-repeat}
.sub_main .reply table tr td i.sns.ks{background:url('/img/common/icon/ico_board_sns_ks.png') 0 0 no-repeat}
.sub_main .reply table tr td i.sns.nb{background:url('/img/common/icon/ico_board_sns_nb.png') 0 0 no-repeat}
.sub_main .reply table tr:hover td{background:#fafafa;font-weight:bold;letter-spacing:-0.11em}
.sub_main .reply table tr.answer{display:none}
.sub_main .reply table tr.answer td{padding:60px 0 20px;text-align:left}
.sub_main .reply table tr.answer:hover td{background:#fff;font-weight:normal;letter-spacing:-0.1em}
.sub_main .reply table tr.answer td img{max-width:950px}
.sub_main .reply table tr.answer span.file_bx{display:block;margin:-40px 0 20px}
.sub_main .pager{margin-left:340px}
.sub_main .pager a{display:inline-block;margin:0 10px;font-size:14px;color:#999;vertical-align:middle}
.sub_main .pager a.on{color:#58b0b4;font-weight:bold}
.sub_main .pager a.btns{margin:0 5px 0 0}
.sub_main .pager a.btns.next{margin:0 5px}
.sub_main .search{position:relative;float:right;font-size:14px; margin-top:35px;}
.sub_main .search select{display:inline-block;width:108px;height:32px;padding:0 5px;margin-right:5px;border:1px solid #dadada;border-radius:3px}
.sub_main .search input{display:inline-block;width:292px;height:32px;padding:0 5px;border:1px solid #dadada;border-radius:3px}
.sub_main .search a.btn_search{position:absolute;top:1px;right:1px;display:inline-block;width:58px;height:30px;background:#95c4c6;line-height:32px;text-align:center;color:#fff;border:1px solid #dadada;border-radius:3px}

div.contents h2.title {text-align:center; position:relative; margin-top:70px;}
div.contents div.fix {width:40px; display:inline-block; border:1px solid #222222;}
div.contents div.btn_groups input[type=button].on {background:#452b78; color:white;}
.footer{background:#151515; color:#cccccc; display:inline-block; width:100%; position:relative; text-align:center;  padding-top:30px;}
.footer div.munch_info {background:#212121; display:block; width:394px; height:136px;float:left; margin-right:5px; padding-bottom:15px; text-align:center;}
.footer div.munch_info div{padding-top: 29px;}
.footer div.munch_info p.email {color:#ffc000; font-size:22px;}
.footer div.munch_info p {line-height:7px;}
.footer div.munch_info p.time {line-height:4px;}
.footer .sub_footer div{display:inline-block; line-height:7px; font-size:13px;}
.footer .sub_footer {margin-top:57px;     position: relative;     display: inline-block;     text-align: left;    width: 1197px;}
.footer .sub_footer .logo{position:relative; top:-44px;}
